@model System.String

@{
    string type = string.Empty;
    string extension = string.Empty;
    if (TempData[Model + "-success"] != null)
    {        
        type = extension = "success";
    }
    if (TempData[Model + "-error"] != null)
    {
        type = "danger";
        extension = "error";
    }
    if (TempData[Model + "-warning"] != null)
    {
        type = extension = "warning";
    }
}

@if (!string.IsNullOrEmpty(type))
{ 
    <div class="alert alert-@type">@TempData[Model + "-" + type]</div>
}
